<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

</head>
<body>

<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/expense/list}">Expenses</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="#" th:href="@{/import}">Import</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tools
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/quickgroup}">Quick Groups</a></li>
                            <li><a th:href="@{/category}">Categories</a></li>
                            <li><a th:href="@{/category/grid}">Category Grid</a></li>
                            <li><a th:href="@{/rule}">Rules</a></li>
                            <li><a th:href="@{/ruleassignment}">Assign By Rules</a></li>

                        </ul>
                    </li>


                    <li><a href="#" th:href="@{/target/monthly}">Targets</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="@{/reports?reporttype=FullMonth}">Reports
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/reports?reporttype=FullMonth}">Full Month Report</a></li>
                            <li><a th:href="@{/reports?reporttype=Yearly}">Yearly</a></li>
                            <li><a th:href="@{/reports?reporttype=YearlyTarget}">Yearly Target</a></li>
                            <li><a th:href="@{/reports?reporttype=MonthlyTarget}">Monthly Target</a></li>

                        </ul>
                    </li>

                </ul>

            </div>
        </nav>
    </div>
</div>
</body>
</html>