<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

</head>
<body>

<div class="container">
    <div th:fragment="header">
        <nav id="primary_nav_wrap">
            <ul>
                <li class="current-menu-item"><a th:href="@{/expense/list}">Expenses</a></li>
                <li class="current-menu-item"><a th:href="@{/import}">Import</a></li>
                <li class="current-menu-item"><a th:href="@{/rounding/list}">Round</a></li>
                <li><a href="#">Tools</a>
                    <ul>
                        <li><a th:href="@{/quickgroup}">Quick Groups</a></li>
                        <li><a th:href="@{/category}">Categories</a></li>
                        <li><a th:href="@{/category/grid}">Category Grid</a></li>
                        <li><a th:href="@{/rule}">Rules</a></li>
                        <li><a th:href="@{/ruleassignment}">Assign By Rules</a></li>
                    </ul>
                </li>
                <li><a href="/target/monthly">Targets</a>
                    <ul>
                        <li><a href="/target/monthly">Monthly Targets</a></li>
                        <li><a href="/target/yearly">Yearly Targets</a></li>
                    </ul>
                </li>
                <li><a href="/reports?reporttype=FullMonth">Reports</a>
                    <ul>
                        <li><a href="/reports?reporttype=FullMonth">Full Month</a>
                        <li><a href="/reports?reporttype=Yearly">Yearly</a>
                        <li><a href="/reports?reporttype=YearlyTarget">Yearly Target</a>
                        <li><a href="/reports?reporttype=MonthlyTarget">Monthly Target</a>
                    </ul>

                </li>

            </ul>
        </nav>
    </div>
</div>
</body>
</html>